 /* header style start*/

 .header {
 	background: #DFDFDD;
 	padding-top: 15px;
 	padding-bottom: 15px;
 }

 .logo {}

 .logo-img {
 	height: 50px;
 	width: 50px;
 	background: #BDBEC0;
 	border-radius: 50%;
 }

 .menu ul {
 	list-style: none;
 	float: right;
 }

 .menu ul li {
 	height: 15px;
 	width: 80px;
 	background: #BCBDBF;
 	float: left;
 	display: block;
 	margin: 0 10px;
 	margin-top: 17px;
 	border-radius: 3px;
 }

 /* header style end*/

 /*banner style start*/

 .banner_left {
 	width: 100%;
 	float: left;
 	margin: 25px -15px;
 }

 .banner_left .banner_img {
 	border: 1px solid black;
 	min-height: 250px;
 	background-color: #DFDFDD;
 	border: transparent;
 }

 .banner_right {
 	float: right;
 	width: 100%;
 	margin: 20px -15px;
 }

 .banner_right .banner_content {
 	border: 1px solid #525253;
 	min-height: 25px;
 	width: 80%;
 	margin-bottom: 20px;
 	margin-top: 20px;
 	background-color: #BDBEC0;
 	border: transparent;
 	border-radius: 5px;
 }



 .banner_right .banner_content_top {
 	border: 1px solid #525253;
 	min-height: 10px;
 	background-color: #DFDFDD;
 	margin-bottom: 10px;
 	border: transparent;
 	border-radius: 5px;
 }

 .banner_right .banner_content_bottom {
 	border: 1px solid #525253;
 	min-height: 10px;
 	background-color: #DFDFDD;
 	border: transparent;
 	margin-bottom: 10px;
 	border-radius: 5px;

 }

 .bcb {
 	width: 80%;
 }

 .bct {
 	width: 80%;
 	margin-bottom: 30px;
 }

 .first_child {
 	margin-top: 30px;
 }

 /*banner style end*/

 /*service style start*/

 .service {
 	width: 100%;
 	margin: 10px -15px;
 }

 .service_2ndd {
 	margin-left: 15px;
 }

 .service_ndd {
 	margin-left: 0px;
 }

 .service_child {
 	/*	margin: 20px 25px;*/
 	margin: 0 2%;
 	margin-top: 20px;
 }


 .service_img {
 	width: 100%;
 	min-height: 200px;
 	background-color: #DFDFDD;

 	border: 1px solid #525253;
 	border: transparent;
 }

 .service_tittle {
 	width: 70%;
 	min-height: 20px;
 	background-color: #BDBEC0;

 	border: 1px solid #525253;
 	margin-top: 10px;
 	border: transparent;
 	border-radius: 5px;
 }

 .service_content1 {
 	width: 100%;
 	min-height: 10px;
 	background-color: #DFDFDD;
 	border: 1px solid #525253;
 	margin-top: 5px;
 	border: transparent;
 	border-radius: 5px;
 }

 .service_content2 {
 	width: 100%;
 	min-height: 10px;
 	background-color: #DFDFDD;
 	border: 1px solid #525253;
 	margin-top: 5px;
 	border: transparent;
 	border-radius: 5px;
 }

 /*service style end*/

 /*contact style start*/

 .ss {
 	margin: 10px -15px;
 	background-color: #DFDFDD;
 }

 .contact {
 	width: 100%;
 	float: left;
 }

 .contact_section {
 	margin: 25px;

 }

 .contact_1 {
 	width: 100%;
 	min-height: 15px;
 	border: 1px solid #525253;
 	margin-top: 5px;
 	border: transparent;
 	background-color: #525253;
 	margin-bottom: 15px;
 	border-radius: 5px;

 }

 .contact_2 {
 	width: 100%;
 	min-height: 10px;
 	background-color: #BDBEC0;
 	border: 1px solid #525253;
 	margin-top: 10px;
 	border: transparent;
 	border-radius: 5px;

 }

 .contact_info {
 	width: 100%;
 	min-height: 10px;
 	overflow: hidden;
 }

 .info1 {
 	border: 1px solid black;
 	min-height: 18px;
 	width: 17%;
 	float: left;
 	/*	margin: 5px 3px;*/
 	background-color: #525253;
 	border: transparent;
 	border-radius: 5px;
 	margin: 3% 1%;
 }

 /*contact end*/

 /*footer style start*/

 .footer {
 	width: 100%;
 	overflow: hidden;
 	margin-top: 10px;
 	margin-bottom: 10px;
 }

 .footer_left {
 	width: 50%;
 	float: left;
 	min-height: 10px;
 	background-color: #BDBEC0;
 	border: 1px solid #525253;
 	border: transparent;
 	border-radius: 5px;
 }

 .footer_right {
 	width: 20%;
 	float: right;
 	min-height: 10px;
 	background-color: #BDBEC0;
 	border: 1px solid #525253;
 	border: transparent;
 	border-radius: 5px;
 }

 /*footer style end*/
